{% extends "templates/page.html" %}
{% block title %}apenAds login{% endblock %}
{% block scripts %}
<script src="/js/main.admin.js"></script>
{% endblock %}
{% block body %}
<form method="post" action="/admin">
	<label for="username">Username:</label>
	<input id="username" data-dojo-type="dijit/form/TextBox" />
	<br />
	<label for="password">Password:</label>
	<input id="password" data-dojo-type="dijit/form/TextBox" type="password" />
	<br />
	<button type="submit" data-dojo-type='dijit/form/Button'>Login</button>
</form>
{% endblock %}