{% extends "templates/page.html" %}
{% block title %}apenAds installer{% endblock %}
{% block scripts %}
<script src="/js/main.admin.install.js"></script>
{% endblock %}
{% block body %}
<div class="admin-install">
	<form method="post" action="/install">
		<label for="app_name">Application name:</label><br />
		<input id="app_name"data-dojo-type="dijit/form/TextBox" value="{{ app_name }}" /><br />
		<label for="app_version">Application version:</label><br />
		<input id="app_version" data-dojo-type="dijit/form/TextBox" value="{{ app_version }}" readonly="readonly" /><br />
		<label for="app_version">Application key:</label><br />
		<input id="app_key" data-dojo-type="dijit/form/TextBox" value="{{ app_key }}" readonly="readonly" /><br />
		<button type="submit" data-dojo-type='dijit/form/Button'>Install</button>
	</form>
</div>
{% endblock %}