<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"
		data-dojo-config="async: true"
		djConfig="parseOnLoad: true, isDebug: true"></script>
<script src="/js/main.admin.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dijit/themes/claro/claro.css" media="screen">
<link rel="stylesheet" href="/css/styles.admin.css" type="text/css" media="screen" />
<title>apenAds administration</title>
</head>
<body class="claro">
	<div class="header">
	</div>
	<div class="main-page">
		<div id="main-menu"
			 data-dojo-type="dijit/MenuBar">
			<div id="main-menu-inventory"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Inventory</span>
				<div id="main-menu-inventory-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-inventory-client"
					 	data-dojo-type="dijit/MenuItem">Clients</div>
					<div id="main-menu-inventory-campaigns"
					 	data-dojo-type="dijit/MenuItem">Campaigns</div>					 	
					<div id="main-menu-inventory-banners"
					 	data-dojo-type="dijit/MenuItem">Banners</div>					 	
				</div>
			</div>
			<div id="main-menu-config"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Configuration</span>
				<div id="main-menu-config-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-config-sites"
					 	data-dojo-type="dijit/MenuItem">Websites</div>	
					<div id="main-menu-config-zones"
					 	data-dojo-type="dijit/MenuItem">Zones</div>	
				</div>
			</div>
			<div id="main-menu-stats"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Statistics</span>
				<div id="main-menu-stats-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-stats-sites"
					 	data-dojo-type="dijit/MenuItem">By website</div>	
					<div id="main-menu-stats-campaigns"
					 	data-dojo-type="dijit/MenuItem">By campaign</div>	
				</div>
			</div>			
		</div>
		<div class="main-content">
		</div>
	</div>
	<div class="footer">
	</div>
</body>
</html>