{% extends "templates/page.html" %}
{% block title %}apenAds administration{% block title_append %}{% endblock %}{% endblock %}
{% block scripts %}
<script src="/js/main.admin.js"></script>
{% endblock %}
{% block body %}
	<div class="header">
		<div class="header-logo">
			<img alt="apenAds" src="/images/logo.png" />
		</div>
		<div class="header-user"></div>
			({{ user.name }}) <a href="/admin/logout">Logout</a>
{% block header %}{% endblock %}
		</div>
	</div>
	<div class="main-page">
		<div id="main-menu"
			 data-dojo-type="dijit/MenuBar">
			<div id="main-menu-inventory"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Inventory</span>
				<div id="main-menu-inventory-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-inventory-client"
					 	data-dojo-type="dijit/MenuItem">Clients</div>
					<div id="main-menu-inventory-campaigns"
					 	data-dojo-type="dijit/MenuItem">Campaigns</div>					 	
					<div id="main-menu-inventory-banners"
					 	data-dojo-type="dijit/MenuItem">Banners</div>					 	
				</div>
			</div>
			<div id="main-menu-config"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Configuration</span>
				<div id="main-menu-config-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-config-sites"
					 	data-dojo-type="dijit/MenuItem"
					 	onClick="admin_menu_click('site')">Websites</div>	
					<div id="main-menu-config-zones"
					 	data-dojo-type="dijit/MenuItem"
					 	onClick="admin_menu_click('zones')">Zones</div>	
				</div>
			</div>
			<div id="main-menu-stats"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Statistics</span>
				<div id="main-menu-stats-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-stats-sites"
					 	data-dojo-type="dijit/MenuItem">By website</div>	
					<div id="main-menu-stats-campaigns"
					 	data-dojo-type="dijit/MenuItem">By campaign</div>	
				</div>
			</div>	
			<div id="main-menu-help"
				 data-dojo-type="dijit/PopupMenuBarItem">
				<span>Help</span>
				<div id="main-menu-help-submenu" 
					 data-dojo-type="dijit/Menu">
					<div id="main-menu-help-help"
					 	data-dojo-type="dijit/MenuItem">Help</div>	
					<div id="main-menu-help-about"
					 	data-dojo-type="dijit/MenuItem">About</div>	
				</div>
			</div>	
		</div>
		<div class="main-content">
{% block content %}{% endblock %}
		</div>
	</div>
	<div class="footer">
{% block footer %}{% endblock %}	
	</div>
{% endblock %}
