<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"
		data-dojo-config="async: true"
		djConfig="parseOnLoad: true, isDebug: true"></script>
<script src="/js/main.admin.js"></script>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dijit/themes/claro/claro.css" media="screen">
<link rel="stylesheet" href="/css/styles.admin.css" type="text/css" media="screen" />
<title>{% block title %}{% endblock %}</title>
</head>
<body class="claro">
{% block body %}{% endblock %}
</body>
</html>